* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

h3 {
    font-size: 2rem;
    color: black;
    animation: text 1s 0.8;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: monospace;
}

nav {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 80px;
    position: fixed;
}

label.logo {
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    transition: all .8s;
}

a:hover {
    background: rgba(255, 255, 255, 0.4);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 1052px) {
    #about {
        height: 1300px;
    }
    #home {
        height: 1000px;
    }
    .whatIdo {
        margin: 0 40px;
    }
    .aboutBox2 {
        margin-top: 15px;
        max-width: 450px;
        min-width: 200px;
    }
    .pic {
        width: 100px;
        height: 100px;
    }
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width: 900px) {
    .pic {
        width: 50px;
        height: 50px;
    }
    html {
        font-size: 60%;
    }
    label.logo {
        font-size: 20px;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ff8364;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 25px;
    }
    a:hover {
        background: none;
        color: #e23e57;
    }
    #check:checked~ul {
        left: 0;
    }
}

.section {
    height: 850px;
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#home {
    padding: 100px 0;
    background-image: url(assets/white-ceramic-cup-beside-a-laptop-on-white-table-3740253.jpg);
}

#about {
    background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.39), #ff69648a);
}

#projects {
    background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.39), #dbe2ef);
    /* background-color: #dbe2ef; */
}

#game {
    background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.39), #dbe2ef);
}

#contactMe {
    background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.39), #ff8364);
}

.blue-square-container {
    text-align: center;
}

.blue-square {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    width: 50%;
    height: 50%;
    padding: 10px;
    display: inline-block;
}

#first-square {
    margin-top: 80px;
}

#second-square {
    border: 2px solid #f12b6b;
    color: #f12b6b;
}

#third-square {
    border: 2px solid #0245a3;
    color: #0245a3;
}

#fourth-square {
    border: 2px solid white;
    color: white;
}

#fifth-square {
    border: 2px solid #ff9a3c;
    color: #ff9a3c;
}

.pic {
    margin-top: 30px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-image: url(assets/pic.png);
    background-size: 220px 220px;
    border: solid 1px black;
    transition: all .5s;
}

.pic:hover {
    border-radius: 50%;
}

.icon {
    margin-top: 30px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-size: 100px 100px;
    border: solid 1px black;
    transition: all .5s;
}

#swift {
    background-image: url(assets/swift.png);
}

#java {
    background-image: url(assets/java.jpg);
}

#flutter {
    background-image: url(assets/flutter.png);
}

#angular {
    background-image: url(assets/Angular.png);
}

#react {
    background-image: url(assets/react.png);
}

#javaS {
    background-image: url(assets/JavaScript-logo.png);
}

#python {
    background-image: url(assets/python.png);
}

.img-link:hover {
    background-color: rgba(0, 0, 0, 0);
}

.icon:hover {
    background-color: crimson;
    /* background-image: url(assets/GitHub-Mark.png); */
    border-radius: 50%;
}

.contentFlex {
    margin-top: 15px;
}

.aboutBox {
    margin-top: 15px;
    max-width: 450px;
    min-width: 200px;
    height: 400px;
}

.aboutBox2 {
    margin-top: 15px;
    min-width: 200px;
    height: 750px;
}

@keyframes text {
    0% {
        margin-top: -40%;
    }
}

.resume {
    padding-left: 2%;
    border-left: 4px solid #f12b6b;
    margin: 2%;
    font-size: 1rem;
    color: #323232;
    transition: all .5s;
}

.resume:hover {
    font-size: 1.2rem;
}

.content {
    font-size: 14px;
    border-left-width: 3em;
    break-after: auto;
    margin-bottom: 25px
}


/* GAME CSS*/

.square {
    width: 30%;
    background: plum;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
    border-radius: 10%;
    transition: all 1s;
}

#container {
    margin: 0 auto;
    width: 500px;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
    transition: all 1s;
}

#message {
    text-align: center;
    color: white;
}

#pannel {
    text-align: center;
    margin: 0;
    padding: 0;
}

.selected {
    color: springgreen;
}

button {
    border: none;
    background: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}